@model JemakEadPro.Models.Curso


<div class="container">
    <h1 class="mb-5">@Model.Nome</h1>

    <div class="d-flex flex-wrap-reverse flex-direction-row justify-content-between">

        <div class="w-25 mt-2"><!-- <div class="col-xs-4 col-md-4 pull-right"> -->
            <div id='list' class="list-group">
                @foreach (var video in Model.Videos)
                {
                    <span hidden id="projetoId">@video.Finalizado</span>
                    @if (video.Finalizado)
                    {
                        <a style="border: 3px solid green; font-weight: 700; margin-bottom: 1px" href="#" class="idVideo video-finalizado samba-playlist-trigger list-group-item"
                        data-mediaid="@video.VideoId">@video.Nome</a>
                    } else {
                        <a style="border: 1px solid gray;" href="#" class="idVideo samba-playlist-trigger list-group-item"
                            data-mediaid="@video.VideoId">@video.Nome</a>
                    }

                }
            </div>
        </div>
        @* <div class="col-xs-3 col-md-6" id="player"></div> *@
        <div class="" id="player"></div>

    </div>


    <p>Vídeo Iniciado: (onStart) <span class="video-iniciado statuslisten"></span></p>
    <p>Status Player: (onProgresse / onPause) <span class="event"></span></p>

    <p>Progresso Player: <span class="value"></span></p>
    @* <p>EventListen <span class="eventlisten"></span></p> *@
    <p>Progresso onde Parou: <span class="valuelisten"></span></p>

    <p>Midia View: <span class="onMediaView"></span></p>
    <p>Midia View: <span onMediaView="onMediaViews()"></span></p>
</div>

<script>
    let finalizado = document.querySelector(".statuslisten");
    let btnFinalizar = document.querySelector("#videoFinalizado");
    setInterval(() => {
            
        if (finalizado.textContent == "onFinish") {

            document.querySelectorAll(".idVideo").forEach(item => {
                if (item.classList.contains("active")) {
                    document.querySelector("input[name='Id']").value = '@Model.Id';
                    document.querySelector("input[name='VideoId']").value = item.getAttribute("data-mediaid");
                }
            });
            document.querySelector("input[name='finalizado']").checked = true;

            document.querySelector("#videoFinalizado").click();
        }
    }, 1000);

    btnFinalizar.addEventListener("click", function(e) {
        e.preventDefault();
    });
</script>


<form action="finalizado" method="post">
    <input type="number" name="Id">
    <input type="text" name="VideoId">
    <input type="checkbox" name="finalizado">
    <button id="videoFinalizado">Finalizar</button>
</form>






<script type="text/javascript" samba-player-api="player"
    src="https://player.sambatech.com.br/v3/samba.player.api.js"></script>

<script type="text/javascript">// <![CDATA[
    var statusListenTd = document.querySelector('.statuslisten');

    var eventTd = document.querySelector('.event');
    var valueTd = document.querySelector('.value');

    var eventListenTd = document.querySelector('.eventlisten');
    var valueListenTd = document.querySelector('.valuelisten');

    var mediaView = document.querySelector('.onMediaView');

    var numMediaObj = 1;

    function eventListener(player) {
        if (player.event != 'onListen') {
            mediaView.textContent = player.events;
            valueTd.textContent = "";
            eventTd.textContent = player.event;
            if (player.eventParam) {
                if (typeof player.eventParam === 'object') {
                    valueTd.textContent = JSON.stringify(player.eventParam);
                } else {
                    valueTd.textContent = player.eventParam;
                }
            }

        } else if (player.event == 'onListen') {
            valueListenTd.textContent = "";
            eventListenTd.textContent = player.event;
            valueListenTd.textContent = player.eventParam;
        }

        if (player.event == "onStart" || player.event == "onFinish") {
            statusListenTd.textContent = player.event;
        }
    }

    function onClick(mediaId, evt) {
        if (evt.isTrusted && player.sequence) {
            numMediaObj = findMediaPosition(playlistObj.medias, 'id', mediaId) + 1
        }
        document.getElementsByClassName('idVideo samba-playlist-trigger list-group-item active')[0].className = 'idVideo samba-playlist-trigger list-group-item';
        evt.target.className = "idVideo samba-playlist-trigger list-group-item active";
    }

    function onLoad(event) {
        if (player.autoplay) {
            if (numMediaObj <= playlistObj.medias.length) {
                player.play();
                numMediaObj++;
            } else {
                numMidiaObj = 1
            }
        }
    }

    function findMediaPosition(array, key, value) {
        for (var i = 0; i < array.length; i++) {
            if (array[i][key] === value) {
                return i;
            }
        }
        return null;
    }
    // ]]></script>



<script id="playlist" type="text/javascript">
    
    let mediaIdHTML = document.querySelectorAll(".list-group-item");
    mediaIdHTML[0].classList.add("active");
    let mediasId = new Array();
    let titles = new Array();

    let obj = new Object();
    let ids = new Array();

    mediaIdHTML.forEach(media => {
        mediasId.push(media.attributes.getNamedItem("data-mediaid").nodeValue);
        titles.push(media.textContent);

        obj = {
            id: media.attributes.getNamedItem("data-mediaid").nodeValue,
            title: media.textContent
        }
        ids.push(obj);
    });

    var playlistObj = {
        titles: [titles],
        ph: '@Model.ProjetoPlayerKey', //'d18ce316ffcde2be46306309dfe68155',// Projeto Id
        medias: ids
        @* [

            { id: "@video.VideoId", title: "@video.Nome" }] *@
            ,
        onClick: 'onClick',
        loop: true,
        timeout: 12,
        autoplay: false,
        sequence: false,
    };
</script>




<script type="text/javascript">
    var player = new SambaPlayer("player", {
        // height: 270,
        // width: 480,
        height: 360,
        width: 640,
        playlist: playlistObj,
        playerParams: {
            volume: 25,
            startOutput: '480p',
            html5: true
        },
        events: {
            "*": "eventListener",
            "onLoad": "onLoad",
        }
    });
 </script>
